
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #111dcb, #c8cdd6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background: #490505;
  padding: 25px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(226, 106, 106, 0.493);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #18af2c;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background: #484c53;
  color: #250419;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #bdb5b7;
}

#message {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 500px) {
  .form-container {
    padding: 15px;
  }
  
  input, button {
    font-size: 14px;
  }
}
