
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, hsl(135, 85%, 43%), #46d3b4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background: #3b121200;
  color: #4e0505;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #2d11cb;
}

#message {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 500px) {
  .form-container {
    padding: 15px;
  }
  
  input, button {
    font-size: 14px;
  }
}
